html {
    background-color: black;
}

* {
    padding: 10px 10px;
    color: darkslategrey;
    font-family: cursive;
    background: darkcyan;
}

header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    font-size: 36px;
}

ul {
    display: flex;
}

li {
    font-size: 32px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: blue;
}

.introduction {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.exp {
    position: absolute;
    top: 137px;
    right: 250px;
}

.introduction img {
    height: 400px;
}

.introduction p {
    font-size: 20px;
    font-weight: bold;
}

.introduction .exp p {
    font-size: 15px;
}

h2 {
    font-size: 25px;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

section {
    margin-top: 0px;
}

.whatigot {
    padding: 0 20px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatigot p {
    text-align: center;
}

.whatigot img {
    height: 300px;
    width: auto;
}

.love {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.love p {
    text-align: center;
}

p {
    font-size: 25px;
}

.love img {
    height: 355.56px;
    width: auto;
    
}

#contact {
    margin-bottom: 100px;
}

#contact p {
    padding-left: 30px;
}

.contact-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

input, textarea {
    width: 40%;
    font-size: 23px;
    margin-bottom: 18px;
    padding: 3px 12px;
}

input, textarea, button {
    border-radius: 5px;
    border: solid;
}

textarea {
    width: 40%;
}

button {
    width: 140px;
    text-align: center;
    font-size: 23px;
    padding: 7px;
    height: 60px;
    background-color: yellow;
    margin-top: 26px;
    cursor: pointer;
    color: black;
}

footer {
    height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    font-size: 15px;
    position: absolute;
}

@media screen and (max-width: 767px) {
    .header-left {
        width: 80%;
        max-width: 18px;
        margin-top: 5%;
    }
    
    ul {
        display: block;
    }

    li {
        font-size: 20px;
        margin: 0 0;
    }

    .introduction .exp p {
        font-size: 10px;
    }

    .exp {
        top: 100px;
        right: 45px;
    }

    .whatigot {
        display: block;
        text-align: center;
    }
}